<div class="header">
   <div class="site-tittle"><strong><i class="fa-regular fa-paper-plane"></i> Ajay</strong></div>
   <div class="directoy"> <strong> <%= tittle %></strong>   </div>
   <div class="hdroptions">
              
                     <form action="/" method="get">
                            <button class="btn" type="submit">Home</button>
                     </form>

                     <form action="/work" method="get">
                            <button class="btn" type="submit">Work</button>
                     </form>
              
       </div>




</div>
</div>